nav ul {
  position: sticky;
  top: 0;
  max-width: 100vw;
  background-color: transparent;
  /* padding: 4px; */
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-bottom: 1px solid #ddd; */
  z-index: 1000;
}

nav ul li a {
  font-size: 1rem;
  /* margin-left: 1.5rem; */
}

nav ul div {
  margin-right: 3rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
}

nav ul a {
  text-decoration: none;
  /* margin-left: 1.5rem; */
  font-weight: 500;
  color: #ffffff;
}

nav ul a:hover {
  color: #ffffff;
}